<div class="div_post">
<h4 class="div_titles">
	<%= "#{@user.username}'s Posts" %>
</h4>

<ul ><hr>
	<% @user_posts.reverse_each do |post| %>
		<p class="user_post_title">
			<%= link_to post.title, post_path(post.id) %>
		<br>
		
		<span class="user_post_body">
			<%= post.p_content %>
		</span>

		<p class="user_post_time">
				<%= post.created_at %>
		</p><hr>
	<% end %>
</ul>
</div>

