<h1>
	<%= "#{@user.username}'s Posts" %>
</h1>

<ul>
	<% @user_posts.reverse_each do |post| %>
		<h2>
			<%= post.title %>
		</h2>
		
		<p>
			<%= post.p_content %>
		</p>

		<ul>
			<li>
				<%= post.created_at %>
			</li>
		</ul>
	<% end %>
</ul>
